/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Index page displaying tasks */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1b1725;
}

.main-title {
  background-color: #1b1725;
  color: #d0bcd5;
  padding: 20px;
  font-family: sans-serif;
  font-size: 60px;
}

.container {
  padding: 20px;
  background-color: #7c728b;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 80%;
}

.task-list {
  color: #d0bcd5;
  padding: 10px;
}

.list {
  font-family: serif;
  color: #1b1725;
  font-size: 30px;
  list-style: none;
  padding-left: 0;
}

.list li {
  position: relative;
  padding-left: 25px;
}

.list li::before {
  content: "\f2dc";
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #1b1725;
}

.list li a {
  text-decoration: none;
  font-family: serif;
  color: #1b1725;
}

.list li a:hover {
  background-color: white;
}

.btn-new {
  text-decoration: none;
  background-color: #d0bcd5;
  color: #1b1725;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  display: block;
  text-align: right;
  margin-left: 1130px;
}

.btn-new:hover {
  background-color: white;
}

/* Show page */

.task-title {
  color: #d0bcd5;
  padding: 20px;
}

.details {
  color: #d0bcd5;
  padding: 20px;
  margin-top: 30px;
}

.form-completed {
  color: white;
  margin-right: 1100px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: sans-serif;
}

.btn-completed {
  border-radius: 10px;
  margin-left: 25px;
  background-color: #7c728b;
  color: white;
  margin-right: 30px;
}

.btn-completed:hover {
  background-color: black;
}

.btn-edit {
  border-radius: 8px;
  background-color: #7c728b;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-delete {
  border-radius: 8px;
  background-color: #7c728b;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.btn-home {
  border-radius: 8px;
  background-color: #7c728b;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 50px;
}

/* New page */

.create {
  color: #d0bcd5;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.btn-create {
  text-decoration: none;
  background-color: #d0bcd5;
  color: #1b1725;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 40px;
}

.btn-create:hover {
  color: white;
}

.form-create {
  color: #d0bcd5;
  padding: 10px;
  font-family: sans-serif;
  margin-left: 20px;
  background-color: #534b62;
  width: 400px;
}

.form-create label {
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-width: 150px;
}

/*  Edit page */

.edit label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #d0bcd5;
}

.edit {
  padding: 50px;
}

.edit input[type="checkbox"] {
  width: auto;
  margin: 0;
  display: inline-block;
}

.edit .checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit label[for="completed"] {
  color: #007bff;
  font-weight: bold;  
}

.edit-heading {
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

.btn-changes {
  border-radius: 8px;
  background-color: #7c728b;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
}
